name: chip8-core

on: [push]

jobs:
  verify:

    runs-on: ubuntu-latest

    steps:
    - name: git
      uses: actions/checkout@v4

    - name: java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: maven
      run: ./mvnw -B clean verify --file pom.xml

